# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Debug files
*.swp
*.swo
*.swn

# Coverage directory for test coverage reports
coverage/

# Build directories
build/
dist/

# Temporary files
tmp/
temp/
*.tmp
*.temp

# Operating system specific files
.DS_Store
Thumbs.db

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases for testing
*.local
*.sqlite
*.db

# Yarn Integrity file
.yarn-integrity

# PM2 logs
pids/
*.pid

# MacOS specific file
.AppleDouble
.LSOverride

uploads/
